<!-- AWJ Sidenav with simplified menu -->
<div class="sidenav-container">
  <!-- AWJ Logo Header -->
  <div class="sidenav-header">
    <img src="assets/LOGORUA.png" alt="RUA Logo" class="rua-logo" />
    <!-- <h3>Rua Al Madina Timelapse</h3> -->
  </div>

  <!-- Main Navigation -->
  <mat-nav-list class="main-nav">
    <a mat-list-item routerLink="/home" routerLinkActive="active" class="nav-item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    
    <a mat-list-item routerLink="/gallery" routerLinkActive="active" class="nav-item">
      <mat-icon>photo_library</mat-icon>
      <span>Gallery</span>
    </a>
    
    <a mat-list-item routerLink="/monitor" routerLinkActive="active" class="nav-item">
      <mat-icon>monitor</mat-icon>
      <span>PC Monitor</span>
    </a>
    
    <a mat-list-item (click)="openTVMonitor()" class="nav-item" style="cursor: pointer;">
      <mat-icon>tv</mat-icon>
      <span>TV Monitor</span>
    </a>
    
    <a *ngIf="isSuper$ | async" mat-list-item routerLink="/users" routerLinkActive="active" class="nav-item">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </a>
    
    <a *ngIf="isSuper$ | async" mat-list-item routerLink="/developers" routerLinkActive="active" class="nav-item">
      <mat-icon>business</mat-icon>
      <span>Developers</span>
    </a>
    
    <a *ngIf="isSuper$ | async" mat-list-item routerLink="/projects" routerLinkActive="active" class="nav-item">
      <mat-icon>folder</mat-icon>
      <span>Projects</span>
    </a>
    
    <a *ngIf="isSuper$ | async" mat-list-item routerLink="/cameras" routerLinkActive="active" class="nav-item">
      <mat-icon>videocam</mat-icon>
      <span>Cameras</span>
    </a>
  </mat-nav-list>
</div>
