<!-- Full-width slider for comparing two selected pictures -->
<div #compareContainer class="compare-container" (mousemove)="onMouseMove($event)">
  
     <img #mainImage
        *ngIf="!loadingLeft"
        [src]="inselectedDate1Picture" 
        class="main-image" 
        (load)="onImageLoad('left')"
        (error)="onImageError('left')"       
      />
      <div class="magnifier" 
                [ngStyle]="{
                    'top': mouseY + 'px', 
                    'left': mouseX + 'px',
                    'width': circleSize + 'px',
                    'height': circleSize + 'px'
                    }">        
        <img *ngIf="!loadingRight"
            [src]="inselectedDate2Picture"
            class="magnified-image"
            (load)="onImageLoad('right')"
            (error)="onImageError('right')"
            [ngStyle]="{
                'top': -mouseY + 'px',
                'left': -mouseX + 'px',
                'width': mainImageWidth + 'px',
                'height': mainImageHeight + 'px'
              }" 
        />
      </div>

    <div *ngIf="loadingLeft || loadingRight" class="spinner-container">
       <p>Loading...</p>
    </div>
  
</div>