<div class="user-form-container">
  <h2 *ngIf="isEditing">Edit User</h2>
  <h2 *ngIf="!isEditing">Add User</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!submitted">
    <!-- User Info Section -->
    <fieldset>
      <legend>User Info</legend>
      <div class="row">
        <div class="col-4">
          <label>Name:</label>
          <input type="text" formControlName="name" />
        </div>
        <div class="col-4">
          <label>Email:</label>
          <input type="email" formControlName="email" [disabled]="isEditing && !isSuperAdmin" />
        </div>
        <div class="col-4">
          <label>Phone:</label>
          <input type="text" formControlName="phone"/>
        </div>
      </div>
    </fieldset>

    <!-- Permissions Section -->
    <fieldset>
      <legend>Permissions</legend>
      <div class="row">
        <div class="col-4">
          <label>Role:</label>
          <select formControlName="role">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
      </div>


    <div class="dropdowns" *ngIf="!hidepermissions">
      <!-- Accessible Developers - Hidden, always set to 'all' -->
      <!-- Accessible Services - Hidden, always set to 'all' -->
      <!-- Accessible Memories - Hidden, always set to 'all' -->

      <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Accessible Projects</mat-label>
        <mat-select
          formControlName="accessibleProjects"
          multiple
          (selectionChange)="onSelectionChange('accessibleProjects', $event)"
        >
          <mat-option [value]="'all'">All</mat-option>
          <mat-option *ngFor="let proj of projects" [value]="proj._id" [disabled]="isAllProjSelected">
            {{ proj.projectName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      
      <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Accessible Cameras</mat-label>
          <mat-select
            formControlName="accessibleCameras"
            multiple
            (selectionChange)="onSelectionChange('accessibleCameras', $event)"
          >
            <mat-option *ngIf="isSuperAdmin || accessibleCamera[0] === 'all'" [value]="'all'">All</mat-option>
            <mat-option *ngFor="let cam of cameras" [value]="cam._id" [disabled]="isAllCameraSelected">
              {{ cam.cameraDescription }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
    </div>
      
      <!-- canAddUser and canGenerateVideoAndPics removed - always set to false and true respectively -->
    </fieldset>

    <div class="submit-button" style="width: 100%; display: flex;">
    <button type="submit">Submit</button>
    </div>
  </form>

    <!-- Success Message Section -->
    <div *ngIf="submitted" class="success-message">
      <h3 style="font-size: 14px;">User {{ isEditing ? 'updated' : 'added' }} successfully!</h3>
      <button style="margin-top: 20px;" (click)="goBack()">Back to Users</button>
    </div>
  
</div>
