.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.form-section {
  width: 60%;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form-title {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.group {
  border: 1px solid #55525285;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #29292900;
}

.group-title {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  position: relative;
  top: -27px;
  left: -7px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 14px;
  color: #ffffff;
}

input,
select {
  width: 40%;
  padding: 5px;
  border: 1px solid #696666;
  border-radius: 4px;
  background-color: #292929;
  color: #ffffff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #d32f2f;
}

button.submit {
  margin: 0 auto;
  background-color: #5e0b0b;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

button.submit:hover {
  background-color: #b71c1c;
}

.success-message {
  text-align: center;
  margin-top: 20px;
}

.date {
  position: relative;
}

/* Style the custom calendar icon */
.calendar-icon {
  position: absolute;
  top: 67%;
  left: 37%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #eeeeee;
  font-size: 19px;
  background: #7f1515;
  padding: 5px
}

.material-icons {
  font-size: 16px;
}
.success-message h3 {
  font-size: 18px;
  color: #4caf50;
}
