/* Error: Undefined function.
 *   ,
 * 5 |     primary: mat.define-palette(mat.$red-palette),
 *   |              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\themes.scss 5:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined function.\a   \2577 \a 5 \2502      primary: mat.define-palette(mat.$red-palette),\d\a   \2502               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\themes.scss 5:14  root stylesheet";
}
